.createBlogContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 100vh;
    background: linear-gradient(to bottom, #fceabb, #ffd7a6, #ffebbf, #ffc499);
}

.createBlogForm {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}
