.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f5deb3, #ffd7a6, #ffa07a, #ff9900);
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ffe4c4;
    width: 50%;
}

.registerLink {
    margin-top: 10px;
    text-align: center;
}

@media only screen and (max-width: 590px) {
    .loginForm {
        width: 80%;
    }
}