.commentsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 1.3rem;
    background-color: white;
    border-radius: 1rem;
    min-height: 20vh; 
    border-bottom: 1px solid #ccc;
    margin: 1rem;
}

.addComment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 1rem;
    text-align: center;
}
.voteIcon {
    cursor: pointer;
    height: 1.5rem;
    margin: .5rem;
  }

  .voteIcon:active {
    transform: scale(0.9);
  }
