.mySelectedBlogPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #fff, #f5deb3);
}

.mySelectedBlogContainer {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editBlog {
   text-align: center;
    margin: 1rem;
}

.mySelectedBlogContent {
    margin: 1rem;
    text-align: center;
    width: 80%;
    min-height: 70vh;
}