.profileCard {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-image: linear-gradient(to bottom, #fff, #f5deb3);
    
}

.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.profileExtras {
    margin: 0;
    text-align: center;
}